<div class="container pt-2">
  <img src="/assets/images/Logo.jpg" width="100%" height="200px">
  <div style="text-align: center;">
    <h1>Stock Research Made Easy</h1>
    <p class="h4">Quickly pull stock and financial statement data for over 30,000 US and international stocks with side
      by side analysis of up to 6 stocks. The following countries & exchanges are supported.</p>
  </div>
  <div class="flags">
    <div class="row p-3">
      <div class="col text-center">
        <img src="/assets/images/usa_flag.png" height="150px">
        <h2>USA</h2>
      </div>
      <div class="col text-center">
        <img src="/assets/images/Canadian_Flag.png" height="150px">
        <h2>Canada</h2>
      </div>
      <div class="col text-center">
        <img src="/assets/images/Flag_of_the_United_Kingdom.svg" height="150px">
        <h2>United Kingdom</h2>
      </div>
    </div>
    <div class="row p-3">
      <div class="col text-center">
        <img src="/assets/images/Flag_of_Australia.svg" height="150px">
        <h2>Australia</h2>
      </div>
      <div class="col text-center">
        <img src="/assets/images/Flag_of_Mexico.png" height="150px">
        <h2>Mexico</h2>
      </div>
      <div class="col text-center">
        <img src="/assets/images/Flag_of_New_Zealand.svg" height="150px">
        <h2>New Zealand</h2>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p>
      Unlock the power of Beast Mode Analysis where you can quickly and easliy research stocks based on fundamental
      stock data and utilize side by side comparisons.
    </p>
  </div>
</div>

<div class="site-images text-center px-4">
  <div class="mb-5">
    <h1 class="text-danger mb-5 w-50 mx-auto" style="border-bottom: 2px solid red;">Beast Mode Examples</h1>
    <img src="/assets/images/webSiteImg.jpg" class="d-block w-100" alt="">
  </div>
  <hr style="color:black; border-radius: 7px; height:7px">
  <!-- <div>
    <h1 class="text-danger my-5 w-50 mx-auto" style="border-bottom: 2px solid red;">Side By Side Example</h1>
    <img src="/assets/images/sideBySide.png" class="d-block w-100" alt="">
  </div> -->
</div>
