<section class="slice">


  <div class="container">




    <div class="row mt-4">
      <div class="col-lg-12 pr-lg-12">
        <h2><b>Terms Of Use</b></h2>




        <p>Last updated: May, 2021</p>

        <p>Please read our terms of use carefully before you use our web site or application. BeastModeAnalysis.com, a
          VenJoin.com Inc. business (hereinafter referred to as &quot;our&quot;, &quot;us&quot;, &quot;we&quot;,
          &quot;Beast Mode&quot;, &quot;BeastMode&quot;, &quot;Beast Mode Analysis&quot;, VenJoin, or the
          &quot;Company&quot;) provides its content and tools on its web site located at www.beastmodeanalysis.com, or
          as applications running on other web sites (collectively referred to as the &quot;Company Service&quot;), to
          you, an individual user (&quot;you&quot;) for your individual usage, subject to compliance with the terms and
          conditions set forth herein.</p>
        <h4>AGREEMENT</h4>
        <p>By using the Company Service, you agree to be bound by our Terms of Use (the &quot;TOU&quot;). If you do not
          agree to the terms and conditions contained in the TOU, we do not consent to provide you with access to the
          Company Service, and you should cease your use of it.</p>
        <h4>CHANGES TO THE TOU</h4>
        <p>We reserve the right at any time to:</p>
        <p>1. Change the terms and conditions of the TOU;</p>
        <p>2. Change the Company Service, including eliminating or discontinuing any content or feature of the Company
          Service; or</p>
        <p>3. Impose fees, charges or other conditions for use of the Company Service or parts thereof (with reasonable
          notice).</p>
        <p>BeastModeAnalysis may modify the Company Service at any time without prior notice. The TOU as well as our TOS
          Policy may change also. Your use of the Company Service after any such changes will be deemed acceptance of
          such changes. You should check our site frequently to see recent changes.</p>
        <h4>REGISTRATION DATA; ACCOUNT SECURITY</h4>
        <p>You represent and warrant that you are of legal age to form a binding contract.</p>
        <p>To use most of our Company Service, you will be required to sign up for an account, select a user name and
          password, and provide us with certain information or data, such as your contact information. You promise to
          provide us with accurate, complete, and updated registration information about yourself. You may not transfer
          your account to, or share your access credentials with, anyone else without our prior written permission. You
          must protect the security of your account and your password and any other access credentials. You're
          responsible for any activity associated with your account. The Company Service is only intended for your
          individual, internal, personal, non-commercial use, and not on behalf of or for the benefit of any third
          party, and you shall not use it in any other manner. You shall only use the Company Service in a manner that
          complies with all laws that apply to you. If applicable laws prohibit your use of the Company Service, then
          you aren't authorized to use the Company Service. We can't and won't be responsible for your using the Company
          Service in a way that breaks the law. Furthermore, you can only use the Company Service if you are subscribed
          in a personal capacity and are not currently acting as a registered or qualified as a professional securities
          trader or investment advisor with any national or state exchange, regulatory authority, professional
          association or recognized professional body; are not currently acting as an investment advisor or as a trader
          to the public for the investment of corporate funds, whether or not you may have at some time been qualified
          to do so; and are not using the Company Service to fulfil administrative, sales or support functions as an
          employee of any bank, brokerage or financial institution.</p>
        <h4>IMPORTANT SECURITIES DISCLAIMER</h4>
        <p>You understand that no content published on the Company Service from BeastModeAnalysis constitutes a
          recommendation that any particular security, portfolio of securities, transaction or investment strategy is
          suitable for any specific person. You further understand that we are not advising you personally concerning
          the nature, potential, value or suitability of any particular security, portfolio of securities, transaction,
          investment strategy or other matter. To the extent any of the content published on the Company Service may be
          deemed to be investment advice or recommendations in connection with a particular security, such information
          is impersonal and not tailored to the investment needs of any specific person. You understand that an
          investment in any security is subject to a number of risks and that discussions of any security published on
          the Company Service will not contain a list or description of relevant risk factors. In addition, please note
          that some of the stocks as to which content is published on the Company Service may have a low market
          capitalization and/or insufficient public float. Such stocks are subject to more risk than stocks of larger
          companies, including greater volatility, lower liquidity and less publicly available information. Postings or
          content on the Company Service which may or may not be deemed by you to be recommendations may have an effect
          on their stock prices. You understand that performance data is supplied by sources believed to be reliable,
          that the calculations herein are made using such data, and that such calculations are not guaranteed by these
          sources or any other person or entity, and may not be complete.</p>
        <p>From time to time, reference may be made on our Company Service to articles and opinions published by others.
          These references may be selective, may reference only a portion of an article or opinion, and are likely not
          to be current. As markets change continuously, previously published information and data may not be current
          and should not be relied upon.</p>
        <p>All content on the Company Service is presented only as of the date published or indicated, and may be
          superseded by subsequent market events or for other reasons. In addition, you are responsible for setting the
          cache settings on your browser to ensure you are receiving the most recent data.</p>
        <h4>NO INVESTMENT RECOMMENDATIONS OR PROFESSIONAL ADVICE</h4>
        <p>The Company Service is not intended to provide tax, legal, insurance or investment advice, and nothing on the
          Company Service should be construed as an offer to sell, a solicitation of an offer to buy, or a
          recommendation for any security by BeastModeAnalysis or any third party. You alone are solely responsible for
          determining whether any investment, security or strategy, or any other product or service, is appropriate or
          suitable for you based on your investment objectives and personal and financial situation. You should consult
          an attorney or tax professional regarding your specific legal or tax situation.</p>
        <p>You specifically acknowledge that BeastModeAnalysis will in no way be held liable for losses or gains arising
          out of use of the content or user provided content (&quot;User Content&quot;) of any type on the Company
          Service. You acknowledge that your investment decisions/recommendations are made entirely at your election and
          that BeastModeAnalysis content or User Content is solely one additional source of information in assisting you
          make those determinations. You similarly acknowledge that you will not hold any other BeastModeAnalysis User
          liable for losses or gains arising out of Content or User Content of any type on the Company Service.</p>
        <h4>COPYRIGHT, LINKING POLICY, AND TRADEMARKS</h4>
        <p>The Company Service and the content contained herein, as well as all copyrights, are the property of
          BeastModeAnalysis. You may access and use the content, and download and/or print out copies of any content
          from the Company Service, solely for your personal, noncommercial use. You acknowledge that you do not acquire
          any ownership rights by using the Company Service.</p>
        <p>The Company Service contains links to other Internet web sites or resources. We neither control nor endorse
          such other web sites, nor have we reviewed or approved any content that appears on such other web sites. You
          acknowledge and agree that we shall not be held responsible for the legality, accuracy, or appropriateness of
          any content, advertising, products, services, or information located on or through any other websites, nor for
          any loss or damages caused or alleged to have been caused by the use of or reliance on any such content.</p>
        <p>You may link to any content on the Company Service. If you are interested in reprinting, republishing or
          distributing content from BeastModeAnalysis, please contact BeastModeAnalysis to obtain written consent. Beast
          Mode Stock Analysis has a tradement pending. All other trademarks, service marks, and logos used on our web
          sites are the trademarks, service marks, or logos of their respective owners.</p>
        <p>For the avoidance of doubt, you agree to be bound by the following:</p>
        <p>- Neither Company, VenJoin, their affiliates nor any of their suppliers shall have any liability for the
          accuracy or completeness of the information or software furnished through the Company Service, or for delays,
          interruptions or omissions therein nor for any lost profits, indirect, special or consequential damages;</p>
        <p>- The VenJoin Services and the Company Service are not investment advice and a reference to a particular
          investment or security, a credit rating or any observation concerning a security or investment provided in the
          VenJoin Services and the Company Service is not a recommendation to buy, sell or hold such investment or
          security or make any other investment decisions;</p>
        <p>- VenJoin, their affiliates or their suppliers have exclusive proprietary rights in the VenJoin Services and
          any information and software received in connection therewith;</p>
        <p>- You shall not use or permit anyone to use the VenJoin Services for any unlawful or unauthorized purpose;
        </p>
        <p>- The VenJoin Services and the Company Service are being provided for your internal use only and your are not
          authorized or permitted to distribute or otherwise furnish such information or software to any third-party
          without prior written approval of the Company and VenJoin;</p>
        <p>- Access to the VenJoin Services is subject to termination in the event that any agreement between Company
          and VenJoin terminates for any reason; and</p>
        <p>- VenJoin may enforce its rights against you as the third-party beneficiary of the TOU, even though VenJoin
          is not a party to the TOU.</p>
        <h4>USER CONDUCT</h4>
        <p>You may not republish, upload, post, transmit or distribute content from the Company Service to online
          bulletin boards, message boards, newsgroups, chat rooms, or in other any manner, without our prior written
          permission. Modification of the content or use of the content for any purpose other than your own personal,
          noncommercial use is a violation of our copyright and other proprietary rights, and can subject you to legal
          liability.</p>
        <p>Specifically, you will not submit information that would be a violation of your employer's company policies,
          nor will you submit information that violates any confidentiality agreements, insider trading regulations, or
          SEC regulations.</p>
        <p>In addition, in connection with your use of the Company Service, you agree not to:</p>
        <p>- Restrict or inhibit any other visitor from using the Company Service, including, without limitation, by
          means of &quot;hacking&quot; or defacing any portion of the Company Service;</p>
        <p>- Use the Company Service for any unlawful or unauthorized purpose;</p>
        <p>- Express or imply that any statements you make are endorsed by us, without our prior written consent;</p>
        <p>- Modify, adapt, sublicense, translate, sell, reverse engineer, decompile or disassemble any portion of the
          Company Service;</p>
        <p>- &quot;Frame&quot; or &quot;mirror&quot; any part of the Company Service without our prior written
          authorization;</p>
        <p>- Use any robot, spider, site search/retrieval application, or other manual or automatic device or process to
          download, retrieve, index, &quot;data mine,&quot; or in any way reproduce or circumvent the navigational
          structure or presentation of the Company Service or its contents;</p>
        <p>- Harvest or collect information about visitors to the Company Service without their express consent.</p>
        <p>- Distribute or otherwise furnish the BeastModeAnalysis content to any person (other than a team member) or
          firm without prior written approval from BeastModeAnalysis;</p>
        <p>You also agree to comply with all applicable laws, rules and regulations in connection with your use of the
          Company Service and the content made available therein.</p>
        <h4>OVERVIEW OF POSTING COMMENTS</h4>
        <p>Our content is intended to serve as a discussion center for thoughtful users who make their own investment
          decisions, with or without the help of a broker. They are not the place for stock touters, cheerleaders or
          hypesters. We strongly encourage all participants to disclose any positions they have in stocks being
          discussed (e.g., long, short, no position).</p>
        <p>We also respectfully ask that you not engage in:</p>
        <p>- Stock touting.</p>
        <p>- Personal attacks against an author or another user.</p>
        <p>- Profanity or vulgarity.</p>
        <p>- Business solicitations or advertising.</p>
        <p>- Inappropriate, unethical or misleading behavior.</p>
        <p>We, at our discretion, may remove comments that violate these standards. These standards are designed to
          ensure that the dialogue on the Company Service is credible, responsible, intelligent and informative. We
          cannot guarantee that users will tell the truth, and we will not monitor the veracity of names and positions
          or the content of any posts. However, by setting out the above guidelines, we hope to raise the credibility of
          the discussion and foster a spirit of open, honest exchanges of information. In addition, please be advised
          that even if a user who posts a comment may, if the user so registers, be publicly identifiable only by the
          alias he or she chose during registration, BeastModeAnalysis Inc. records will contain the actual identity of
          the author of any comment posted to the Company Service.</p>
        <p>If you have any comments on our policies, or complaints or concerns of any kind about any posts, please
          contact us. We will review all of the information that you communicate to us, but we may not be able to take
          action or respond directly to each e-mail.</p>
        <h4>ONLINE RULES OF CONDUCT</h4>
        <p>By posting a comment or other content, modifying forecasts or engaging in any other form of communication
          (individually or collectively &quot;Communications&quot;) on the Company Service, You agree to:</p>
        <p>- Warrant and represent that you are the owner of your Communications or you have all rights necessary to
          upload, post, transmit and otherwise use any such Communications for your intended purpose.</p>
        <p>- Post Communications in both tone and content that contribute in a positive and high quality manner to the
          substantive exchange of information and the subject matter of the Company Service.</p>
        <p>- Automatically grant - yourself or because you have the unrestricted right from the actual owner –
          BeastModeAnalysis a royalty-free, perpetual, non-exclusive and fully transferable and sublicensable right to
          use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and
          display the Communications you post (in whole or in part) worldwide and/or to incorporate any one of those
          Communications in other works now or in the future, with or without attribution of such content directly to
          you.</p>
        <p>- Waive any and all rights against BeastModeAnalysis and hold BeastModeAnalysis harmless in connection with
          any claims relating to any action taken by BeastModeAnalysis as part of its investigation of a suspected
          violation or result of its conclusion that a violation of these Terms of Use has occurred, including but not
          limited to the removal of posts from the Company Service or a suspension or termination of your access to the
          Company Service;</p>
        <p>- Maintain and promptly update your registration data to keep it true, accurate, current and complete.</p>
        <p>You agree not to:</p>
        <p>- Post any Communication that you either know or should know is false, deceptive or misleading, or
          misrepresent or deceive others as to the source, accuracy, integrity or completeness of any Communication you
          post.</p>
        <p>- Post any Communication that is unlawful, harmful or injurious to others, threatening, abusive, offensive,
          harassing, derisive, defamatory, vulgar, obscene, libelous, hatefully, racially, ethnically or otherwise
          tortious or objectionable.</p>
        <p>- Post any Communication that does or may invade the privacy or violate or infringe on any rights of others,
          including, without limitation, copyrights and other intellectual property rights.</p>
        <p>- Impersonate any person or entity, falsely or deceptively state, infer or otherwise misrepresent your
          affiliation with or connection to any person or entity.</p>
        <p>- Post any Communication which, either the act of posting or the Communication itself, you do not have a
          right to do under any law, regulation or order of any court, or as a result of an employment, contractual,
          fiduciary or other legal obligation or relationship.</p>
        <p>- Post any advertising, promotional materials, so called &quot;chain letters,&quot; &quot;pyramid&quot; or
          other schemes or invitations to participate in these or any other form of solicitation or promotion.</p>
        <p>- Post any non-public or otherwise restricted, confidential or proprietary information without authorization.
        </p>
        <p>- Violate any local, state, national or international law, regulation or order of any court, including but
          not limited to regulations of the U.S. Securities and Exchange Commission, any rules of any securities
          exchange, including without limitation, the New York Stock Exchange, the American Stock Exchange or The Nasdaq
          Stock Market.</p>
        <h4>DELETING CONTENT</h4>
        <p>BeastModeAnalysis has the right in its sole discretion, to edit, move, delete, and/or remove any
          Communication posted on its Company Service at any time. Without limiting the foregoing, BeastModeAnalysis has
          the right to delete any Communication that it believes, in its sole discretion, does or may violate the Terms
          of Use.</p>
        <h4>CAVEATS</h4>
        <p>While we believe that the Company Service can and should be a positive environment for the exchange of
          information, you understand that the Company Service is open for posting Communications to all users. Some
          individuals may post Communications that may be offensive, indecent, objectionable, false, misleading or
          simply inappropriate.</p>
        <h4>RESPONSIBILITY FOR POSTS</h4>
        <p>Each individual who posts a Communication is solely responsible for her or his own acts, including the
          content, context or information in the Communication he or she posts. This means that each individual, and not
          BeastModeAnalysis, is entirely responsible for anything and everything she or he posts. BeastModeAnalysis does
          not and does not intend to pre-screen any Communications posted on its Company Service and BeastModeAnalysis
          cannot and does not guarantee the accuracy, integrity or quality of anything that may appear on its Company
          Service.</p>
        <h4>DISCLAIMER OF WARRANTIES</h4>
        <p>THE SITE, AND ANY PRODUCT OR SERVICE OBTAINED OR ACCESSED THROUGH THE SITE, IS PROVIDED &quot;AS IS&quot; AND
          WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMITTED
          BY APPLICABLE LAW, BeastModeAnalysis, ITS OFFICERS, DIRECTORS, EMPLOYEES, AFFILIATES, SUPPLIERS, ADVERTISERS,
          AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, WARRANTIES
          OF TITLE AND NON-INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND
          ALL WARRANTIES RELATING TO THE ADEQUACY, ACCURACY OR COMPLETENESS OF ANY INFORMATION ON OUR SITE.</p>
        <p>Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusions may not apply to
          you.</p>
        <p>BEASTMODEANALYSIS AND ITS AFFILIATES, SUPPLIERS, AGENTS AND SPONSORS DO NOT WARRANT THAT YOUR USE OF THE SITE
          WILL BE UNINTERRUPTED, ERROR-FREE OR SECURE, OR THAT THE SITE OR THE SERVER(S) ON WHICH THE SITE IS HOSTED ARE
          FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE
          AND YOUR RELIANCE THEREON. NO OPINION, ADVICE, OR STATEMENT OF BEASTMODEANALYSIS OR ITS AFFILIATES, SUPPLIERS,
          AGENTS, MEMBERS, OR VISITORS, WHETHER MADE ON THE SITE OR OTHERWISE, SHALL CREATE ANY WARRANTY.</p>
        <h4>LIMITATION OF LIABILITY</h4>
        <p>NEITHER BEASTMODEANALYSIS NOR ITS AFFILIATES AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, SUPPLIERS,
          ADVERTISERS, AGENTS AND SPONSORS ARE LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY,
          PUNITIVE OR OTHER DAMAGES UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY ARISING OUT OF OR
          RELATING IN ANY WAY TO THE SITE AND/OR ANY CONTENT CONTAINED THEREIN, OR ANY PRODUCT OR SERVICE USED OR
          PURCHASED THROUGH BEASTMODEANALYSIS. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE IS TO STOP USING IT.
          THE SOLE AND EXCLUSIVE MAXIMUM LIABILITY TO BEASTMODEANALYSIS FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION
          (WHETHER IN CONTRACT, TORT (INCLUDING, WITHOUT LIMITATION, NEGLIGENCE), OR OTHERWISE) SHALL BE THE TOTAL
          AMOUNT PAID TO US BY YOU, IF ANY, FOR ACCESS TO THE SITE.</p>
        <p>Some jurisdictions do not allow the limitation or exclusion of liability for incidental or consequential
          damages, so the above limitations may not apply to you.</p>
        <h4>INDEMNIFICATION</h4>
        <p>As a condition of your use of the Company Service, you agree to indemnify, defend and hold us, our officers,
          directors, employees, agents and representatives harmless from and against any and all claims, damages,
          losses, costs (including reasonable attorneys' fees), or other expenses that arise directly or indirectly out
          of or from (a) your violation of the TOU; (b) your use of the Company Service; or (c) your violation of the
          rights of any third party.</p>
        <h4>SUBSCRIPTION CANCELLATION</h4>
        <p>To cancel your subscription and recurring payment visit Patreon.com; you will not receive a refund of any
          payments made and all future payments will be canceled. As soon as the processing takes place through our
          payment gateway you will no longer have access to the paid subscriber portion of the website.</p>
        <h4>TERMINATION</h4>
        <p>You understand and agree that BeastModeAnalysis may, under certain circumstances and without prior notice to
          you, terminate your access to and use of the Company Service. Cause for such termination shall include, but
          not be limited to, (i) breaches or violations of the TOU or other agreements or guidelines, (ii) requests by
          law enforcement or other government or regulatory authorities or (iii) repeat violators of copyrights or other
          intellectual property.</p>
        <p>Note: If you are a monthly subscriber, upon termination, you will not receive a refund of any payments made
          and all future payments will be canceled. If you are an annual paid subscriber, upon termination, you will
          receive a prorated refund, with a two month forfeiture of comparable monthly membership fees, and all future
          payments will be canceled. Our calculation of the refund is final.</p>
        <h4>COPYRIGHT POLICY</h4>
        <p>BeastModeAnalysis respects the intellectual property of others, and we ask our users to do the same.
          BeastModeAnalysis may, in appropriate circumstances and at its discretion, terminate the account or access of
          users who infringe the intellectual property rights of others.</p>
        <p>If you believe that your work has been copied in a way that constitutes copyright infringement, please
          contact us and include:</p>
        <p>- an electronic signature of the person authorized to act on behalf of the owner of the copyright interest;
        </p>
        <p>- a description of the copyrighted work that you claim has been infringed, including the URL (web page
          address) of the location where the copyrighted work exists or a copy of the copyrighted work;</p>
        <p>- a description of where the material that you claim is infringing is located on the site, including the URL;
        </p>
        <p>- your address, telephone number, and email address;</p>
        <p>- a statement by you that you have a good faith belief that the disputed use is not authorized by the
          copyright owner, its agent, or the law; and</p>
        <p>- a statement by you, made under penalty of perjury, that the above information in your Notice is accurate
          and that you are the copyright owner or authorized to act on the copyright owner's behalf.</p>
        <h4>MISCELLANEOUS</h4>
        <p>The Company Service is directed solely to individuals residing in jurisdictions in which provision of the
          Company Service's content is legal. We make no representation that materials provided on the Company Service
          are appropriate or available for use in other locations. Those who choose to access the Company Service from
          other locations do so on their own initiative and at their own risk, and are responsible for compliance with
          local laws, if and to the extent applicable. We reserve the right to limit the availability of the Company
          Service to any person, geographic area, or jurisdiction we so desire, at any time and in our sole discretion,
          and to limit the quantities of any such service or product that we provide.</p>
        <p>The TOU together with all BeastModeAnalysis policies referred to herein, constitutes the entire agreement
          between you and BeastModeAnalysis relating to your use of the Company Service and supersedes and any all prior
          or contemporaneous written or oral agreements on that subject between us.</p>

      </div>

    </div>
  </div>
</section>
