<!-- <footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-7 footer-dark footer-div"> -->
        <!-- Footer -->
        <!-- <div class="container pt-4">
            <div class="all-li">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0"> -->
                    <!-- Theme's logo -->
                    <!-- <a href="#">
                        <img alt="Image placeholder"
                            src="/assets/images/1.png"
                            width="177px" id="footer-logo">
                    </a> -->
                    <!-- Webpixels' mission -->
                    <!-- <p class="mt-4 text-sm opacity-8 pr-lg-4"><b>Stock Research
                            Made Easy</b> - Quickly pull stock and financial
                        statement data for over 30,000 US and International
                        Stocks with side by side analysis of up to 10 stocks.
                        The following countries & exchanges are supported. </p> -->
                    <!-- Social -->
                    <!-- <ul class="nav mt-4">
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#" target="_blank">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 ml-lg-auto mb-5 mb-lg-0"></div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Account</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Billing</a></li>
                        <li><a href="#">Notifications</a></li>
                    </ul>
                </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0 div-about">
                        <h6 class="heading mb-3">About</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Exchanges </a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0
                        div-company">
                        <h6 class="heading mb-3">Company</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="divider divider-fade divider-dark my-4">
            <div class="row align-items-center justify-content-md-between pb-4">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center
                        text-md-left">
                        &copy; 2021 <a href="#" class="font-weight-bold"
                            target="_blank">BEAST MODE Analysis</a>. All rights
                        reserved.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end
                        mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="terms-of-use">
                                Terms Of Use
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="privacy-policy">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Disclaimer
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> -->

<footer class="text-center text-light py-1" style="background-color: var(--mc);">
  <p><a routerLink="/privacy-policy">Privacy Policy</a> | <a routerLink="/terms-of-use">Terms of Use</a></p>
</footer>
